
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-solar.css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrikaziPoruku</title>
</head>
<body>
    <h1 style="font-family: sans-serif">Uspjesno dodano!</h1>
    <h2>@DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss")</h2>
    <a href="/student/index">Go back</a>
</body>
</html>
