@model RS1_PrakticniDioIspita_2017_01_24.ViewModels.CasoviDodajVM
@{
    ViewData["Title"] = "Edit";
    var lista = ViewBag.odjeljenjaPredmeti as List<SelectListItem>;
}

<h2>Edituj</h2>

<form action="/Casovi/Edit" method="post">
    <label asp-for="Datum"></label>
    @Html.EditorFor(model => model.Datum)
    <span asp-validation-for="Datum" class="text-danger"></span>
    <br />
    <label>Odjeljenje/Predmet</label>
    @Html.DropDownListFor(x => x.AngazovanId, lista, "Odjeljenje/Predmet")
    <br />
    <input asp-for="NastavnikId" hidden />
    <input asp-for="OdrzanCasId" hidden />
    <input type="submit" value="Snimi" class="btn btn-primary" />
</form>
