
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-solar.css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajPoruku</title>
</head>
<body>
    <h1>Uspjesno dodano!</h1>
    <a href="/fakultet">Go back!</a>
</body>
</html>
