@using ClassLibrary1.ViewsModels
@using WebApplication1.helper
@using EntityFrameworkExercise.Model


@{
    var univerziteti = (List<ComboBoxVM>)(TempData["univerzitetiKey"]);
    Fakultet obj = (Fakultet)(TempData["fakultetiKey"]);
}


<form action="/fakultet/DodajZapis" class="form-check active">
    <table>
        <tr>
            @*<td><label>FakultetID</label></td>*@
            <td><input type="text" name="fakultetID" value="@obj.ID" hidden /></td>
        </tr>
        <tr>
            <td><label>Naziv fakulteta</label></td>
            <td><input type="text" name="NazivFakulteta" value="@obj.Naziv" /></td>
        </tr>
        <tr>
            <td><label>Univerzitet</label></td>
            <td>@HtmlFormaAlati.GenerisiComboBox("UniverzitetID", univerziteti, obj.UniverzitetID)</td>
        </tr>
        <tr><td><input type="submit" value="SUBMIT" style="width: 100%;" class="btn btn-outline-primary"/></td></tr>
    </table>
</form>

