@using EntityFrameworkExercise.Model
@using EntityFrameworkExercise.Model.ViewsModels

@{

    MojDbContext Db = new MojDbContext();

    List<FakultetiBrStudenataVM> fbs = Db.fakulteti.Select(f => new FakultetiBrStudenataVM
    {
        FakultetID = f.ID,
        FakultetNaziv = f.Naziv,
        BrojStudenata = Db.studenti.Count(s => s.FakultetID == f.ID)

    }).ToList();

    string trenutnoVrijeme = @DateTime.Now.ToString();
}

<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID fakulteta</th>
            <th>Naziv fakulteta</th>
            <th>Broj studenata</th>
            <th>Delete</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in fbs)
        {
            <tr>
                <td>@item.FakultetID</td>
                <td>@item.FakultetNaziv</td>
                <td>@item.BrojStudenata</td>
                <td><a href="/Fakultet/ObrisiZapis?id=@item.FakultetID" class="btn btn-warning" style="text-decoration: none; color: white;">Obrisi</a></td>
                <td><a href="/Fakultet/DodajForma?fakultetID=@item.FakultetID" class="btn btn-dark" style="text-decoration: none; color: white;">Edit</a></td>

            </tr>
        }
    </tbody>
</table>

<a href="/fakultet"> << Vrati se na home page</a>
