
<div>
    <a class="nav-link" href="/student/PrikaziStudente" style="text-decoration: none; font-size: 40px">Prikazi studente</a><br /><br />
    <a class="nav-link" href="/student/DodajStudentaForma" style="text-decoration: none; font-size: 40px">Dodaj studenta</a><br /><br />
</div>
