
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-solar.css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajForma</title>
</head>
<body>
    <form action="/fakultet/DodajZapis">
        <label>Naziv fakulteta</label>
        <input type="text" name="NazivFakulteta" />
        <input type="submit" value="SUBMIT" />
    </form>
</body>
</html>
