@model List<RS1_Ispit_asp.net_core.ViewModels.OdrzanaNastavaIndexVM>
@{
    ViewData["Title"] = "Index";
}
<h2>Nastavnici</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Skola</th>
            <th>Ime i prezime nastavnika</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Skola</td>
            <td>@item.ImeIPrezimeNastavnika</td>
            <td><a href="/OdrzanaNastava/PrikaziMaturskeIspite/@item.NastavnikId">Odaberi</a></td>
        </tr>
        }
    </tbody>
</table>

